body {
    font-family: Roboto, sans-serif;
}

.chicago {
    height: auto;
    display: block;
    margin-left: auto;
    width: 50%;
}

.top {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 30px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding: 15px 0 0 0;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 20px 0px;
    font-weight: 100;
}

.header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-image-block {
    display: flex;
    margin: 30px 0 80px 0;
}

.title {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 400px;

}

.text {
    max-width: 450px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
    margin: 5px 0;
}

.button {
    background-color: maroon;
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    border-radius: 6px;
    width: 80px;
    padding: 10px 24px;
    margin: 5px 0 0 0;
}

.randoinfo {
    text-align: center;
}

.rando-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px 0 30px 0;
}

.modigli {
    width: 150px;
    height: 150px;
    border: 5px solid maroon;
    border-radius: 6px;
    margin-bottom: 5px;
  }

.rando-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.placards {
    max-width: 150px;
    margin: 0px 15px 100px 15px;
    font-weight: lighter;
    padding: 0 5px;
  }

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 5% 20%;
}

.roth-quote {
    font-size: 36px;
    font-weight: 200;
    color: darkslategrey;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: bold;
    margin-right: 5%
}
