body {
    font-family: Roboto, sans-serif;
    
}

img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.top {
    background-color: darkslategrey;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 30px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    padding: 10px 0 0 0;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 8pt;
    font-weight: lighter;
    padding: 10px 5px 0 0;
}

.header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-image-block {
    display: flex;
    margin: 30px 0 80px 0;
}

.title {
    font-size: 22pt;
    font-weight: bolder;
}

.text {
    max-width: 300px;
    font-size: 9pt;
    font-weight: lighter;
}

.button {
    background-color: maroon;
    color: white;
    font-size: 9pt;
    text-align: center;
    border-radius: 6px;
    width: 80px;
    padding: 5px 8px;
    margin: 5px 0 0 0;
}